body {
  background-color: #111;
  color: aliceblue;
}
.App {
  padding-top: 50px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.titles {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  border-bottom: 2px solid whitesmoke;
  margin-bottom: 20px;
  width: 100%;
}
.titles h3 {
  font-size: 16px;
  text-transform: capitalize;
  color: black;
}
center {
  margin-bottom: 100px;
  margin-top: 50px;
  input {
    padding: 10px;
    width: 80%;
    outline: none;
  }
}
@media screen and (max-width: 767px) {
  .titles {
    display: grid;
    grid-template-columns: 1fr 2fr  2fr 1fr;
    width: 100%;
    .remove {
      display: none;
    }
  }
}
